.details-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 60px;
}

.label{
    color: goldenrod;
    font-size: 14px;
}

.details h2{
    color: #fff;
    font-size: 18px;
}

.update-button{
    display: flex;
    justify-content: center;
    align-items: center;
}